/*
	Instructor: Huda Judeh
	File Name: index.html
	Date: 08/16/2024
 */

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, section, article, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #9e586b;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

/* Style rule to hide tablet-desk */
.tablet-desk {
    display: none;
}

/* Style rules for header content */
header {
    text-align: center;
    color: #41353b;
    padding: 1%;
}

header h1 {
    font-size: 3em;
    font-family: 'Merriweather', serif;
    text-shadow: 4px 4px 12px #493746;
}

header h3 {
    font-style: italic;
    font-size: 1.25em;
    font-family: Futura, Arial, sans-serif;
}

/* Style rules for navigation area */
nav {
    background-color: #3d293b;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.15em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
    border: 1px solid #6d4d6a;
    border-radius: 2px; 
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 3%;
    text-decoration: none;
}

/* Style rules for main content */
main {
    padding: 2%;
    background-color: #e3eef2;
    font-family: 'Lato', sans-serif;
}

main h2 {
    color: #213B45;
}

main p {
    color: #0F252E;
    font-size: 1.25em;
}

main a {
    text-decoration: none;
    color: #417589;
    font-weight: bold;
}

main ul {
    list-style-type: square;
    font-size: 1.15em;
}

main ul li:last-child {
    padding-bottom: 2%;
}

article, figure {
    padding: 2%;
}

figure {
    border: 2px solid #4a1a3a;
    margin: 2% auto;
    background-color: rgba(120, 53, 79, 0.4);
    text-align: center;
}

figcaption {
    padding: 2%;
}

section h1 {
    font-size: 2.5em;
}

.action {
    font-size: 1.25em;
    color: #213b45;
    font-weight: bold;
    font-variant-caps: all-small-caps; 
}

.round {
    border-radius: 7px;
}

#ai ul {
    margin-left: 8%;
}

#deep a {
    color: #213b45;
}

.examples {
    border: 1px solid #417589;
    padding: 2%;
    background: rgba(211, 151, 166, 0.5);
    box-shadow: 4px 4px 10px #000;
}

.examples ul {
    margin-left: 8%;
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.75em;
    color: #e3eef2;
    font-weight: bold;
}

footer a {
    color: #e3eef2;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 600px), print {
 
    /* Tablet Viewport: Show tablet-desk class, hide mobile class */
    .tablet-desk {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border: none;
        display: inline-block;
        font-size: 1.25em;
    }
    
    nav li a {
        padding: 0.75em;
    }
    
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }
    
    section {
        grid-column: 1 / span 2;
    }
    
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
    
    /* Desktop Viewport: Show tab-desk class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    /* Desktop Viewport: Style rules for nav area */
    nav li {
        display: inline-block;
        font-size: 1.25em;
        font-family: Verdana, Arial, sans-serif;
        font-weight: bold;
    }

    nav li a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 0.5em;
        text-decoration: none;
    }
    
    nav li a:link {
        color: #fff;
    }
    
    nav li a:hover {
        color: #74a9be;
    }
    
    nav li a:active {
        color: #8cb3d9;
    }
    
    /* Desktop Viewport: Style rules for main content */
    main {
        overflow: auto;
    }
    
    figure {
        max-width: 460px;
    }
    
    /* Desktop Viewport: Style rules for footer content */
    footer {
        clear: left;
    }
    
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
    
    /* Desktop Viewport: Style rules for body and  container */
    body {
        background: linear-gradient(#e3eef2, #417589);
        background-repeat: no-repeat;
    }
    
    #container {
        width: 1920px;
        margin: 0 auto;
    }
    
    /* Desktop Viewport: Style rule for header content */
    header {
        color: #417589;
    }
    
    /* Desktop Viewport: Style rule for main content */
    main {
        background-color: #e3eef2;
    }
    
    /* Desktop Viewport: Style rule for footer content */
    footer, footer a {
        color: #e5e9fc;
    }
    
}

/* Media Query for Print */
@media print {
    
    body {
        background-color: #fff;
        color: #000;
    }
    
}